<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lista cumparaturi</title>
    <link rel="stylesheet" type="text/css" href="style.css" >
</head>
<body>

<div ng-app>
    <h2>Lista cumparaturi</h2>

    <div ng-controller="cumparaturi">

        [ <a href="" ng-click="archive()">stergere produse cumparate</a> ]

        <input type="text" ng-model="search"  /> Search<br />

        <ul class="unstyled">
            <li    ng-repeat="todo in todos  | filter:search" ng-controller="ClickToEditCtrl">



                <div ng-hide="editorEnabled">
                    <input type="checkbox" ng-model="todo.done">
                    <span  class="done-{{todo.done}}">Nume: {{todo.text}} ---></span>
                    <span  class="done-{{todo.done}}">Descriere:{{todo.descriere}}</span>
                    <a href="#" ng-click="enableEditor()">Edit </a>
                </div>
                <div ng-show="editorEnabled">
                    <input ng-model="editableTitle" ng-show="editorEnabled">
                    <input ng-model="editableTitle1" ng-show="editorEnabled">

                    <a href="#" ng-click="save()">Save</a>

                    <a href="#" ng-click="disableEditor()">cancel</a>.
                </div>


                    <form   ng-show="checked1">
                <input  ng-model="todo.text" type="text"   size="30" placeholder="numele produsului">
                <input  ng-model="todo.descriere" type="text"   size="30" placeholder="descrierea produsului">

                </form>

            </li>
        </ul>



        <div>
            <input type="button" value="Afiseaza formular" ng-click="controller()">
        </div>


        <form ng-submit="addTodo()" ng-show="checked" >


            <input type="text" ng-model="produs.text"  size="30"
                   placeholder="add new todo here">

            <input type="text" ng-model="produs.descriere"  size="30"
                   placeholder="add new todo here">

            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>



</div>

<script type="text/javascript" src="j2.js"> </script>
<script type="text/javascript" src="j1.js"> </script>
<script type="text/javascript" src="angular.js"> </script>
</body>
</html>